.hovering {
    border-color: orange;
  }
  ul {
    border: solid lightgray 1px;
    display: flex; /* required for drag & drop to work when .item display is inline */
    height: 40px; /* needed when empty */
    padding: 10px;
  }
    .bg-blue-200{
        background:blue;
    }