/* app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4 {
    @apply font-bold;
  }
}

.level1{
  background:#1E3A8A;
}
.level2{
  background:#1D4ED8;
}
.level3{
  background:#3B82F6
}
.level4{
  background:#60A5FA;
}
.level5{
  background:#0F766E;
}
.level6{
  background:#059669; 
}
.level7{
  background:#10B981;
}

.level8{
  background:#14B8A6;
}